NETFACTOR_URL=https://sistemagms.isafe.tec.br/netFactor/jsp/nfInicia.jsp
NETFACTOR_USERNAME=seu_usuario_netfactor
NETFACTOR_PASSWORD=sua_senha_netfactor
NETFACTOR_SYNC_MODE=robot
NETFACTOR_HEADLESS=false
GMS_SYNC_SECRET=uma_chave_grande_e_unica
CRM_CUSTODY_SYNC_SECRET=mesma_chave_configurada_no_crm
APP_LOGIN_USERNAME=gms
APP_LOGIN_PASSWORD=uma_senha_forte_para_o_simulador
APP_LOGIN_SECONDARY_USERNAME=segundo_usuario
APP_LOGIN_SECONDARY_PASSWORD=outra_senha_forte
CRM_ADMIN_URL=https://gms-crm-admin.vercel.app
CRM_INTEGRATION_TOKEN=mesmo_token_configurado_no_crm
GMS_CLIENT_CODES=
